.mybox{
    width:100%;
    height:200px ;
    background-color: pink;
    position: relative;

}
.box{
    width:45%;
    height:20px ;
    background-color: grey;
    position: absolute;
    bottom: 0px;
    right: 0px;

}